.content {
  margin-left: $sideBarWidth;
  margin-top: $headerHeight;
  padding: 2em;

  &-data {
    background: rgba($color: #fff, $alpha: 0.6);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    padding: 20px;
  }
}
